@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100&family=Raleway:wght@300&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  min-height: 100vh;

  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;


}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.header div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header img{
  height: 90px;
}

.view-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.view-buttons button{
  padding: 15px;
  font-size: 20px;
  cursor: pointer;

}

.view-buttons button:nth-child(1){
  border-radius: 10px 0 0 10px;
}

.view-buttons button:nth-child(2){
  border-radius: 0 10px 10px 0;

}

.active{
  background-color: #535bf2;
  color: white;
}

.leaflet-container {
  width: 100%;
  height: 80vh;
}


/* Detail style start */
.detail-outer{
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 100000;
  top: 0;
  /* background-color: gray; */
  height: 100vh;
  padding: 5px;
 
}

.detail-inner{
  
  background-color: black;
  height: 90vh;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  /* margin-top: 70px; */
}

.close{
  display: flex;
  justify-content: end;
  padding:3px 10px;
  font-size: 17px;
  font-weight: bolder;
  cursor: pointer;
  background-color: #535bf2;
  border-radius: 5px;

}
 
.popup{
  display: flex;
  text-align: center;
  flex-direction: column;
  font-size: 16px;
  font-weight: bold;
  width: 100px;
}

.popup button{
  background-color: black;
  color: white;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;
}

.status {
  padding: 3px;
  border-radius: 4px;
  color: black;
}

.detail-inner p {
  display: flex;
  align-items: center;
  gap: 5px;
}

.detail-img{
  width:300px ;
}

